/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

header {
    background-color: #004D44;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.control-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33% - 30px);
}

.control-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.control-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #004D44;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
    align-self: flex-start;
}

button:hover {
    background-color: #003833;
}

.canvas-container {
    margin-top: 20px;
    text-align: center;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 45%; /* Scale down the canvas for display */
}

.hidden {
    display: none;
}

/* Modal styles */
.modal {
    display: none; /* Hide modal initially */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.modal-content button {
    margin: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
